@{
    ViewData["Title"] = "Welcome";
}

<div class="container">
    <div class="row pt-3">
        <div class="col">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src="~/assets/thumbs/action_thumb.png" alt="Action Movies">
                <div class="card-body">
                    <h5 class="card-title">
                        Action
                    </h5>
                    <p class="card-text">
                        An action movie is similar to adventure, and the protagonist usually takes a risky turn, which leads to desperate situations (including explosions, fight scenes, daring escapes, etc.).
                    </p>
                    <a href="Search?genre=Action" class="btn btn-secondary" style="width: 80%">
                        Find Action Movies
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src="~/assets/thumbs/adventure_thumb.png" alt="Adventure Movies">
                <div class="card-body">
                    <h5 class="card-title">
                        Adventure
                    </h5>
                    <p class="card-text">
                        An adventure movie is about a protagonist who journeys to epic or distant places to accomplish something. It can have many other genre elements included within it, because it is a very open genre.
                    </p>
                    <a href="Search?genre=Adventure" class="btn btn-secondary" style="width: 80%">
                        Find Adventure Movies
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src="~/assets/thumbs/comedy_thumb.png" alt="Comedy Movies">
                <div class="card-body">
                    <h5 class="card-title">
                        Comedy
                    </h5>
                    <p class="card-text">
                        Comedy is a genre that tells about a series of funny, or comical events, intended to make the audience laugh. It is a very open genre, and thus crosses over with other genres on a frequent basis.
                    </p>
                    <a href="Search?genre=Comedy" class="btn btn-secondary" style="width: 80%">
                        Find Comedy Movies
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src="~/assets/thumbs/drama_thumb.png" alt="Drama Movies">
                <div class="card-body">
                    <h5 class="card-title">
                        Drama
                    </h5>
                    <p class="card-text">
                        Drama is a genre of narrative fiction intended to be more serious than humorous in tone, focusing on in-depth development of realistic characters who must deal with emotional struggles.
                    </p>
                    <a href="Search?genre=Drama" class="btn btn-secondary" style="width: 80%">
                        Find Drama Movies
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src="~/assets/thumbs/fantasy_thumb.png" alt="Fantasy Movies">
                <div class="card-body">
                    <h5 class="card-title">
                        Fantasy
                    </h5>
                    <p class="card-text">
                        A fantasy movie is about magic or supernatural forces, rather than technology if it happens to take place in a modern or future era. The movie may or may not be considered to be a "hybrid genre".
                    </p>
                    <a href="Search?genre=Fantasy" class="btn btn-secondary" style="width: 80%">
                        Find Fantasy Movies
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src="~/assets/thumbs/horror_thumb.png" alt="Horror Movies">
                <div class="card-body">
                    <h5 class="card-title">
                        Horror
                    </h5>
                    <p class="card-text">
                        A horror movie is told to deliberately scare or frighten the audience, through suspense, violence or shock. Perhaps the most well-known figure in the horror genre is H.P. Lovecraft.
                    </p>
                    <a href="Search?genre=Horror" class="btn btn-secondary" style="width: 80%">
                        Find Horror Movies
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src="~/assets/thumbs/mystery_thumb.png" alt="Mystery Movies">
                <div class="card-body">
                    <h5 class="card-title">
                        Mystery
                    </h5>
                    <p class="card-text">
                        A mystery movie follows an investigator as they attempt to solve a puzzle or crime. The clues are presented as the film continues and the protagonist finds them.
                    </p>
                    <a href="Search?genre=Mystery" class="btn btn-secondary" style="width: 80%">
                        Find Mystery Movies
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src="~/assets/thumbs/romance_thumb.png" alt="Romance Movies">
                <div class="card-body">
                    <h5 class="card-title">
                        Romance
                    </h5>
                    <p class="card-text">
                        A romance movie usually involves emotion-driven stories that are focused on the relationship between the main characters. The film typically ends with a happy ending.
                        </p>
                    <a href="Search?genre=Romance" class="btn btn-secondary" style="width: 80%">
                        Find Romance Movies
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src="~/assets/thumbs/western_thumb.png" alt="Western Movies">
                <div class="card-body">
                    <h5 class="card-title">
                        Western
                    </h5>
                    <p class="card-text">
                        Stories are typically set in the American West, between the time of the Civil war and the early twentieth century. The setting of an uncivilized area is especially important to the genre.
                    </p>
                    <a href="Search?genre=Western" class="btn btn-secondary" style="width: 80%">
                        Find Western Movies
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-5 pb-3">
        <div class="col">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src="~/assets/thumbs/musical_thumb.png" alt="Musical Movies">
                <div class="card-body">
                    <h5 class="card-title">
                        Musical
                    </h5>
                    <p class="card-text">
                        A genre in which songs by the characters are interwoven into the narrative, sometimes accompanied by dancing. The songs usually advance the plot or develop the film's characters.
                    </p>
                    <a href="Search?genre=Musical" class="btn btn-secondary" style="width: 80%">
                        Find Musical Movies
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src="~/assets/thumbs/historical_thumb.png" alt="Historical Movies">
                <div class="card-body">
                    <h5 class="card-title">
                        Historical
                    </h5>
                    <p class="card-text">
                        A work set in a past time period, usually used in the context of film and television. A historical film may be set in a general era such as the Middle Ages or a specific period such as the Roaring '20s.
                    </p>
                    <a href="Search?genre=Historical" class="btn btn-secondary" style="width: 80%">
                        Find Historical Movies
                    </a>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>